<div class="jumbotron">
  <h1 class="display-4">Letter {{ letter }}</h1>

</div>

<div class="list-group">
    {{#each books}}
        <a href="details/{{this.title}}" class="list-group-item list-group-item-action">{{this.title}}</a>
    {{/each}}
</div>



            <tr>
                <td>
                    <form method="GET" action="/booklist/{{smallletter}}">
                        <input type="hidden" name="offset" value={{ prevOffset }}>
                        {{#if prevbool}}
                            <button type="submit" disabled=true >Previous</button>
                        {{else}}
                            <button type="submit">Previous</button>
                        {{/if}}
                    </form>
                </td>
                <td>
                    <form method="GET" action="/booklist/{{smallletter}}">
                        <input type="hidden" name="offset" value={{ nextOffset }}>
                        {{!-- <button type="submit" >Next</button> --}}
                        {{#if nextbool}}
                            <button type="submit" disabled=true >Next</button>
                        {{else}}
                            <button type="submit" >Next</button>
                        {{/if}}
                        
                    </form>
                </td>
                
            </tr>
 <a class="btn btn-primary" href="/" role="button">Home</a>
{{!-- 

disabled={{nextbool}}
--}}