<h1>My Bookstore</h1>



<div>
    {{#each firstCharacters}}
        <form method="GET" action="/booklist/{{this}}">
            {{!-- <input type="hidden" name="{{this}}"> --}}
            <button type="submit">{{this}}</button>
        </form>
    {{/each}}
</div>



    {{!-- <div class="list-group">
       {{#each firstCharacters}}
            <a href="booklist/{{this}}" class="list-group-item list-group-item-action">{{this}}</a>
        {{/each}}
    </div> --}}







{{!-- 

<div>
    <form method="GET" action="/booklist">
        <input type="hidden" name="{{alphabet}}" value="{{alphabet}}">
        <button type="submit">A</button>
    </form>
</div>
 --}}
