{{#if hasContent}}

    {{#each r}}
        <div>
            <h1>{{ this.book_title }}</h1>
        </div>
        <div>
            <p>by {{ this.book_author }}</p>
        </div>
        <div>
            <p>Reviewer: {{ this.byline }}</p>
        </div>
        <div>
            <p>Date: {{ this.publication_dt }}</p>
        </div> 
        <div>
            {{ this.summary }}
        </div>
        <div>
            <a target="_blank" href="{{ this.url }}">Full review</a>
        </div>
        

    {{/each}}
    <div>
        <p style="font-size:11px">Copyright (c) 2020 The New York Times Company. All Rights Reserved.</p>
    </div>
{{else}}
    <h1>There are no reviews for this book</h1>
    <a class="btn btn-primary" href="/" role="button">Home</a>
{{/if}} 


 {{!-- book_title: 'Happiness',
    book_author: 'Ann Harleman',
    byline: 'DAVID GALEF',
    publication_dt: '1994-02-13',
    summary: '',
    url: 'http://www.nytimes.com/1994/02/13/books/in-short-fiction-165689.html' --}}

